In [12]:
import pandas as pd


#see original dataset
file_path = 'Internet_data.csv'
data = pd.read_csv(file_path)

data.head()

,T30,Internet Usage,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2000,Percentage of individuals using the internet,5.3,NaN,"International Telecommunication Union (ITU), G..."
2,1,"Total, all countries or areas",2005,Percentage of individuals using the internet,15.6,NaN,"International Telecommunication Union (ITU), G..."
3,1,"Total, all countries or areas",2010,Percentage of individuals using the internet,28.5,NaN,"International Telecommunication Union (ITU), G..."
4,1,"Total, all countries or areas",2015,Percentage of individuals using the internet,40.0,NaN,"International Telecommunication Union (ITU), G..."

In [9]:
#Clean data
cleaned_data = data[["Region/Country/Area", "Year", "Value"]].dropna()

cleaned_file_path = 'cleaned_Internet_data.csv'
cleaned_data.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'cleaned_Internet_data.csv'

In [11]:
#see cleaned data
file_path = 'cleaned_internet_data.csv'
data = pd.read_csv(file_path)

data.head()

             Region/Country/Area  Year  Value
0  Total, all countries or areas  2000    5.3
1  Total, all countries or areas  2005   15.6
2  Total, all countries or areas  2010   28.5
3  Total, all countries or areas  2015   40.0
4  Total, all countries or areas  2019   53.7